.burger-menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F0F0F0F0; 
    transform: translateX(-100vw);
    }

.burger-menu[data-open]{
    transform: translateX(0);
    transition: transform 250ms linear; /*обратно тоже медленно*/
}

.burger-menu__window{
    padding-top: 12px;
    display:inline-block;
    min-width: 375px;
    background: var(--white);
}

@media (min-width: 768px) {
    .burger-menu
    {
        display: none;
    }
}

.burger-menu__header{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.burger-menu__header-close{
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background: var(--grey-2);
    left: 12px;
    top: 16px;
    cursor: pointer;
}

.burger-menu__header-close-icon{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
}

.burger-menu__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.burger-menu__item{
    color: var(--black);
    display: block;
    text-decoration: none;
}

.burger-menu__item-title{
    color: var(--grey-3);
    margin-top: 8px;
}

.burger-menu__item-separator{
    background: var(--grey-2);
    height: 1px;
}

.burger-menu__item[selected]{
    color: var(--red); 
}

.burger-menu__item-none{
    height: 12px;
}

