.card{
    color:var(--black);
    display: block;
    width: 350px;
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px var(--grey-4);
    border-radius: 12px;
}

a.card{
    text-decoration: none;
}

.card_big{
    width: 100%;
    height: auto;
    background: var(--grey-1);
    box-shadow: none;
}

.card svg{
    width: 24px;
    height: 24px;   
}

.card__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.card__content-center{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 16px;
}

.card__content-center_avatar{
    width: 90%;
}

.card__content-resize{
    width: 80%;
    height: 60%;
    display: block;
    flex-grow: 1;
    margin: 16px;
}

.card__title{
    margin-bottom: 0;
}

.card__info{
    margin-bottom: 30px;
}

.card__content-modal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    border: 1px solid var(--grey-3);
    border-radius: 12px;
    padding: 16px;
}

.card__content-modal input{
    width: 60%;
}

.card__content-close-button{
    position: absolute;
    right: 16px;
    top: 16px;
}

.card__content-grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
}

.card__content-grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px 128px;
    justify-items: left;
    align-items: center;
}

.card__content-grid4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px;
    justify-items: center;
    align-items: center;
}

.card__content-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}


@media (max-width: 768px) {

    .card__content-grid3,
    .card__content-grid4
    {
        grid-template-columns: 1fr;
    }

}

.card__content-calendar{
    width:100%;  
    transform: scale(0.7) translateY(-20%);
}

.card__container-big{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__title-big{
    color:var(--grey-3);
}

