
.avatar{
    width: 50%;
    position: relative;
}

.avatar:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
.avatar__img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}