.modal{
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #C4C4C4F0;
}


.modal__window{
    /* width: 428px; height: 294px; */
    box-sizing: border-box;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    border-radius: 8px;
    padding: 30px 40px 40px 34px;
}

.modal__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color:var (--gray-4);  /*--gray-5*/
}

.modal__content{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
    color:var(--grey-4);
}

.modal__close-button{
    position: absolute;
    top: 8px;
    right: 12px;
    /*cursor: pointer;*/
}

