@import './chart.css';
@import './counter.css';
@import './histogram-header.css';

.histogram{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px 24px;
}

.histogram__header{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
 }
    
.histogram-header__link{
    color: var(--blue-2);
    text-align: right;
    padding-top: 3px;
}

.histogram__chart{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1px;
    height: 50px;
    padding-right: 5px;
    padding-left: 2px;
}

.histogram__chart-item{
    flex-basis:100%;         
    background: var(--blue-2);
};

.histogram__counter{
    color: var(--black);
}

.histogram__counter-value{
    padding-top: 6px;
    font-size: 20px;
    line-height: 26px;
}