.page{
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.page h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 420;
    font-size: 52px;
    line-height: 52px;
}


.page h2{
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

@media (max-width: 768px) {

    .page h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }

    .page h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 32px;
    }
}

