
.calendar{
    box-sizing:border-box;
    border:1px solid var(--grey-3);
    border-radius: 8px;
    padding: 26px 26px 28px 26px;
}

.calendar__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    color: var(--grey-4);
}

.calendar__wrapper{
    padding-bottom:90%;
    position: relative;
}

.calendar__inner{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display: grid;
    grid-template-columns: repeat(7,1fr); 
}

.calendar__item{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--grey-5);
    padding-top: calc(50% - 9px);
}

.calendar__item_day{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--grey-3);
    padding-top: calc(50% - 12px);
}

.calendar__item_range{
    background: var(--blue-3);
}

.calendar__item_range-bound{
    color: var(--white);
    background: var(--blue-2);
}
