.footer{
    text-align: center;
    background: var(--white);
    color: var(--black);
    border-top: 1px solid var(--grey-2);
    padding: 72px 16px 130px 16px;
}

.footer_component{
    background: var(--grey-1);
    border: none;
    color:var(--grey-3);
    padding: 32px 16px;
}

.footer__title{
    margin-top: 24px;
    margin-bottom: 28px;
}

.footer__info{
    max-width: 640px;
    margin: auto;
}

@media (max-width: 768px) {
  

}